.menu {
  width: 400px;

  border: 1px solid black;
  background-color: rgba(128,128,128, 0.3);
  margin: 200px auto;

  .menuItemContainer {
    text-align: center;
    font-size: 36px;
    margin: 10px 0px;
    cursor: pointer;
  }

  .menuItemContainer:hover {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
